<!-- About Section -->
<section class="odd-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 ">
        <h3>HOME: WATERLOO</h3>
        <p>
          While many Univeristy of Waterloo students are from out-of-town, I was actually born and raised here! I've always enjoyed 
          the comforts of home and am fortunate enough to still be living here with my parents (also University of Waterloo Alumni) 
          and two brothers.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3>VOLLEYBALL</h3>
        <p>
          I'm very involved with the University of Waterloo volleyball club, SERVE! As a SERVE club executive, 
          I've had the opportunity of leading the promotion team, responsible for leading the creation and management 
          of <a href="https://www.instagram.com/wlooserve/" target="_blank">SERVE's social media posts</a>. I also enjoy playing 
          volleyball recreationally and in tournaments with friends!
        </p>
        <img class="foo.gif gif-centered" src="img/vball-photos.gif" alt="vball-photos-gif" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3>MOTIVATION / CAREER ASPIRATIONS</h3>
        <p>
          I'm very goal-driven and find myself motivated when I receive positive and constructive feedback from others! Although 
          I have a passion for technology and learning new skills, I don't have any particular career aspirations. I'm hoping 
          to keep my options open and flexible while staying relevant and hungry to learn new things!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <hr class="star-light">
        <p>
          <strong>Thank you</strong> for taking the time to read this far! If you'd like to chat with me about anything, you can reach me via email at 
          <a href="mailto:d78wong@uwaterloo.ca">d78wong@uwaterloo.ca</a>, or use the contact section below. I look forward to meeting you! 😀
        </p>
      </div>
    </div>
  </div>
</section>
