<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.job-title %}
              <p><b>{{ post.job-title }}</b></p>
              <p>{{ post.location }}</p>
            {% endif %}
            <ul class="list-inline item-details">
              <li>
                <strong>Date:</strong>
                {% if post.project-date %}
                  {{ post.project-date }}
                {% elsif post.co-op-date %}
                  {{ post.co-op-date }}
                {% endif %}
              </li>
              <li>
                <strong>Skills:</strong>
                {{ post.skills }}
              </li>
            </ul>
            {% if post.description %}
              <p>
                <strong>Description:</strong>
                {{ post.description }}
              </p>
            {% endif %}
            {% if post.involvement %}
              <p>
                <strong>Involvement:</strong>
                {{ post.involvement }}
              </p>
            {% endif %}
            {% if post.experience %}
              <p>
                <strong>Experience:</strong>
                {{ post.experience }}
              </p>
            {% endif %}
            {% if post.job-responsibilities %}
              <p>
                <strong>Job Responsibilities:</strong>
                {{ post.job-responsibilities }}
              </p>
            {% endif %}
            {% if post.takeaway %}
              <p>
                <strong>Takeaway:</strong>
                {{ post.takeaway }}
              </p>
            {% endif %}
            {% if post.screenshot %}
              <img class="img-responsive" src="img/{{ post.screenshot }}" alt="project-screenshot" />
            {% endif %}
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
