<!-- Projects Section -->
<section class="projects" id="projects">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>PROJECTS</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>
          I recently started working on projects! Some key skills I've picked up from 
          my projects are full stack web development, relational database design, and version 
          control in a development team environment. Click on the tiles below to learn more 
          about each project!
        </p>
      </div>
    </div>
    <div class="portfolio-flex-row">
      {% for post in site.posts %}
        {% if post.category == 'projects' %}
          <div class="portfolio-flex-item portfolio-item">
            <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
