<!-- Welcome Grid Section -->
<section class="welcome" id="welcome">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>WELCOME</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>
          Hello and thank you for taking the time to visit my page! 😊
        </p>
        <p>
          I'm a 3B Honours Co-op Math student at the University of Waterloo 
          with a passion for web development, technology, and volleyball. My keen 
          attention to detail and improvement-driven mindset are what make me a 
          great co-op student. As an enthusiastic learner, I'm searching for a 
          fourth co-op that will challenge me to polish my technical skills as 
          well as pick up and master new skills.
        </p>
        <p>
          Check out my projects, past co-op experiences, and hobbies to see if I would be 
          a great fit on your team as your next co-op hire!
        </p>
      </div>
      <div class="col-lg-8">
        <img class="img-responsive" src="img/SkillWordCloud.png" alt="skill-word-cloud-pic" />
      </div>
    </div>
  </div>
</section>

<!--
  WORD CLOUD:
  Scripting, Scripting, Scripting, Scripting, Web_Dev, Web_Dev, Web_Dev, Web_Dev, Python, Python, Python, HTML, HTML, JavaScript, Frontend, Frontend, React, React, React, VS_Code, GitHub, Database_Design, Database_Design, GitLab, Git, Git, Projects, BitBucket, Network_Stack, Network_Stack, Backend, Racket, R, Jira, SQL, SQL, Azure_Data_Studio, Internet_Protocols, Django, Node
-->